.buttonGreen {
        background-color: #4CAF50;
        color: white;
        padding: 5px;
        font-size: 30px;
        border: none;
        cursor: pointer;
        width: 300px;
        height: 50px;

    }

.buttonRed {
        background-color: #ff4c4c;
        color: white;
        padding: 5px;
        font-size: 30px;
        border: none;
        cursor: pointer;
        width: 300px;
        height: 50px;

    }

.stuff {
    margin-left: 25px;
    color: #EBEBEB;

}

.btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
}

#styling {
	color: #17c762;
	padding-left: 50px;
}

#wrapper {
    width: 600px;
}
